.box {
    background-color: rgb(247, 247, 247);
    padding: 30px;
    margin-top: 30px;
}

.formControl {
    margin-top: 5px;
}

.button {
    margin-top: 30px;
    margin-bottom: 30px
}

.loading {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto
}

.errorMessage {
    margin: 20px 0
}

.orSeparator {
    display:  flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    width: 100%;
    height: 1px;
    margin: 50px 0 40px 0
}

.orSeparator span {
    background-color: rgb(247, 247, 247);
    padding: 0 30px;
}