.searchContainer {
  padding: 8px
}

.searchPaper {
  display: flex;
  justify-content: center;
  padding: 0 2px;
  margin-top: 20px;
}

.card {
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3),
}

.cardMedia {
  padding-top: 56%;
}